.signup {
  min-height: 100dvh;
  padding: var(--navbar-height) 7%;
  place-items: center;
}
.inner {
  font-size: clamp(1.3rem, 3vw, 2.4rem);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social_link {
  text-decoration: none;
  color: #b5179e;
}
.social_link svg {
  width: 20px;
}

.signup_img {
  width: 300px;
}

@media screen and (min-width: 768px) {
  .signup {
    grid-template-columns: 50% 80%;
    overflow: hidden;
  }
  .subheadline {
    text-align: left;
  }
  .socials {
    justify-content: flex-start;
  }
  .signup_img {
    width: 450px;
  }
  .social_link svg {
    width: 24px;
  }

  /* .social_link img {
    width: 50px;
  } */
}

@media screen and (min-width: 1200px) {
  .signup {
    grid-template-columns: 50% 50%;
  }
  .signup_img {
    width: 500px;
  }

  .social_link svg {
    width: 30px;
  }
}
