.card {
  /* padding: 5%; */
  /* max-height: 70vh; */
  display: flex;
  align-items: center;
  gap: 50px;
  /* border: 2px solid #3a0ca3;
  border-radius: 10px; */
}

.card_img {
  max-height: 50vh;
  width: 40vw;
}

.card_desc {
  font-size: clamp(1rem, 3vw, 1.6rem);
  line-height: clamp(25px, 2.5vw, 35px);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  /* .card {
    padding: 2% 5%;
  } */
}

@media screen and (min-width: 1200px) {
  /* .card {
    padding: 0 5%;
  } */
}
