.card {
  display: grid;
  justify-items: center;
  padding: 8% 10%;
  animation: pulse 1s infinite ease-in-out alternate;
}

.pet_img_container {
  padding-top: 4%;
  border-radius: 50px 50px 0 0;
  border: 2px solid #fefae0;
  border-bottom: none;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: end;
}

.pet_img_container img {
  width: 100px;
}

.pet_desc_container {
  border-radius: 0 0 50px 50px;
  color: #023047;
  background: #fefae0;
  padding: 6%;
}

.pet_desc_container h3 {
  font-weight: 400;
  text-align: left;
  line-height: 18px;
  font-size: 1.3rem;
  padding: 2px 0;
}
.pet_desc_container span {
  font-weight: 800;
  color: #0a3347;
}

@media screen and (min-width: 768px) {
  .pet_desc_container h3 {
    line-height: 22px;
    font-size: 1.6rem;
  }

  .pet_img_container img {
    width: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .pet_desc_container h3 {
    line-height: 25px;
    font-size: 1.8rem;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1.02);
  }
}
