.header {
  height: 100dvh;
  transition: height 0.2s linear;
}

.headline {
  padding: calc(var(--navbar-height) + 15px) 15% 5%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 40px;
}

.text {
  color: #001d3d;
  display: grid;
  gap: 20px;
  line-height: 45px;
  font-size: 2rem;
}

.headline img {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .headline {
    flex-direction: row;
  }
  .text {
    line-height: 55px;
    font-size: 2.4rem;
  }

  .headline img {
    width: 250px;
  }
}

@media screen and (min-width: 1200px) {
  .headline {
    padding: 5% 10%;
  }
  .headline img {
    width: 300px;
  }

  .text {
    font-size: 3rem;
    line-height: 60px;
  }
}
