/* .navbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  color: #f3f8ff;
  display: grid;
  place-items: center;
  height: var(--navbar-height);
  background-color: #023047;
}

.nav_inner {
  width: 90%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
} */

.navbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;

  padding: 0 5%;
  height: var(--navbar-height);
  background-color: #023047;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menuItems {
  display: none;
}

.logos {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.logos img {
  width: 70px;
}

.logos p {
  display: none;
  color: #ffb703;
  font-size: 3rem;
  font-weight: 700;
}

.burger {
  cursor: pointer;
  color: #ffb703;
  width: 50px;
  background: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 1% 3%;
  }

  .navbar .menuItems {
    display: flex;
  }

  .logos {
    flex-direction: row-reverse;
  }

  .logos img {
    width: 90px;
  }

  .burger {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .logos p {
    display: block;
  }
}
