.engagement {
  min-height: 100dvh;
  padding: var(--navbar-height) 7%;
}

.engagement img {
  width: 70vw;
}
.engagement .subheadline {
  z-index: 2;
}

.subheadline span {
  font-weight: 800;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social_link {
  text-decoration: none;
  color: #023047;
}
.social_link img {
  width: 40px;
  /* vertical-align: middle; */
}

@media screen and (min-width: 768px) {
  .engagement {
    grid-template-columns: 50% 80%;
    overflow: hidden;
  }
  .subheadline {
    text-align: left;
  }
  .socials {
    justify-content: flex-start;
  }
  .engagement img {
    width: auto;
  }

  .social_link img {
    width: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .engagement {
    grid-template-columns: 50% 50%;
  }
}
