@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+25&display=swap");

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Jersey 10", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  backdrop-filter: blur(40px);
}

html {
  scroll-behavior: smooth;
}

body {
  --navbar-height: 110px;
  --footer-height: 80px;
  transition: height 0.2s linear;
  background-color: #000000;
}

body:has(.mobile_menu.open) {
  overflow: hidden;
}

.container_gr {
  display: grid;
  place-items: center;
  color: #f3f8ff;
}

.container_blur {
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  body:has(.mobile_menu.open) {
    overflow: auto;
  }

  body {
    --navbar-height: 130px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    --navbar-height: 150px;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
}
button:focus-visible {
  outline: none;
  box-shadow: none;
}

button,
a,
div {
  -webkit-tap-highlight-color: transparent;
}
