.container_accordion {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container_accordion .container_blur {
  border-radius: 25px;
  backdrop-filter: blur(40px);
}

.accordion_item {
  padding: 7%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.accordion_item {
  font-size: 1.5rem;
  line-height: 30px;
}

.arrow_btn {
  cursor: pointer;
  border: none;
  background: none;
  color: #f3f8ff;
}

.arrow_btn > svg {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .accordion_item {
    padding: 4%;
  }

  .accordion_item {
    font-size: 1.8rem;
    line-height: 35px;
  }

  .arrow_btn > svg {
    width: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .accordion_item {
    padding: 2%;
  }

  /* .accordion_item {
    font-size: 2.1rem;
    line-height: 40px;
  } */

  .arrow_btn > svg {
    width: 50px;
  }
}
